<div class="container">
	<!-- PAGE HEADER -->
	<div class="page-header">
	  <h1>McMaster Computer Science Society</h1>
	</div>

	<!-- Including the carousel for the home page -->
	<%= render 'layouts/homecarousel' %>

	<!-- Separating between the carousel and the content -->
	<div class="spacer20"></div>

	<!-- Website content -->
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<div class="panelheading">
							Welcome to the McMaster Computer Science Society homepage!
						</div>
					</h3>
				</div> <!-- End panel heading -->
				<div class="panel-body">
					<div class="homepage_text">
						text here.. link colour test: <a href="#">blah</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-4">
			<div class="product-img">
				<div class="center">
					<a class="twitter-timeline" href="https://twitter.com/McMasterCompSci" data-widget-id="502566766283735040">Tweets by @McMasterCompSci</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End container -->